.manage-orders-page {
  min-height: 100vh;
  background: #fff8ef;
}

.manage-orders-container {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
}

.manage-orders-header {
  text-align: center;
  margin-bottom: 40px;
}

.orders-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  );

  gap: 20px;
}

.order-card {
  background: white;
  padding: 25px;
  border-radius: 20px;
  border: 1px solid #e5e7eb;
}

.order-card select {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
}